@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'Noto Sans KR', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section {
    min-width: 100vw;
    position: relative;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #111111;
    min-height: 7vh;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    z-index: 10;
}

.header .header_logo {
    margin: 1.3vh 0 0 7vw;
}

.header .header_subject {
    margin: 0 7vw 0 0;
}

.header .header_logo img {
    width: 35px;
    height: 35px;
}

.header .header_subject {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.header .header_subject li a {
    margin-left: 3vw;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.09em;
    color: #fff;
    padding: 4px 10px;
}

.header .header_subject li a:hover {
    background: #fff;
    color: #111;
}


/*main*/

.main {
    min-height: 93vh;
    overflow: hidden;
    top: 7vh;
    position: relative;
}

.main .main_video {
    position: absolute;
    top: 0;
    left: 0;
}

.main .main_video video {
    position: fixed;
    width: 100vw;
    height: 93vh;
    object-fit: cover;
    z-index: -10;
}

.main .main_text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
}

.main .main_text h2 {
    color: #fff;
    font-size: 2.5em;
    line-height: 1em;
    letter-spacing: 0.1em;
    font-weight: 200;
    position: relative;
    bottom: 0.5vh;
    font-family: 'Poppins', sans-serif;
}

.main_scroll {
    padding-top: 70px;
    position: absolute;
    top: 87vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_scroll span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb 1.5s infinite;
    animation: sdb 1.5s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

@keyframes sdb {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}


/*movie_1*/

.movie_1 {
    min-height: 130vh;
    background-color: #1a1a1a;
    top: 7vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.movie_1_img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64vh;
    width: 60vw;
    margin: 18vh 20vw 0vh 20vw;
    background-image: url(./image/movie1_1.png);
    counter-increment: carousel-cell;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    transition: filter 1s ease-out;
    background-size: cover;
}

.movie_1_img:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
}

.movie_1_img_playButton1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10vh;
}

.movie_1_img_playButton1_Effect {
    stroke-width: 0;
    stroke-dasharray: 1 359;
    stroke-dashoffset: 20;
    transform: rotate(-50deg);
    fill: none;
    stroke: #fff;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.movie_1_img:hover .movie_1_img_playButton1_Effect {
    stroke-width: 1.5px;
    stroke-dasharray: 230;
    stroke-dashoffset: 20;
    transform: rotate(-50deg);
}

.movie_1_img_playButton2_Effect {
    stroke-width: 0;
    fill: transparent;
    stroke: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-57.5%, -51%);
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
    stroke-dasharray: 1 65;
}

.movie_1_img:hover .movie_1_img_playButton2_Effect {
    stroke-width: 1px;
    stroke-dasharray: 60;
}

.movie_1_text {
    color: #fff;
    margin: 10vh 10vw 0vh 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie_1_text .movie_1_text1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    font-weight: 200;
    letter-spacing: 0.09em;
    margin-bottom: 1.5vh;
}

.movie_1_text .movie_1_text2 {
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 2vh;
}

.movie_1_text .movie_1_text3 {
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.3em;
    font-weight: 200;
    margin-bottom: 6vh;
}

.movie_1_text .movie_1_text4 {
    font-size: 1.3em;
    font-weight: 200;
    margin: 0 5vw 0 5vw;
    line-height: 150%;
    letter-spacing: 0.09em;
}

.movie_1_text .movie_1_text3 span:nth-child(2) {
    margin: 0 3vw 0 3vw;
}


/*movie_2*/

.movie_2 {
    min-height: 130vh;
    background-color: #1a1a1a;
    top: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.movie_2_img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64vh;
    width: 60vw;
    margin: 18vh 20vw 0vh 20vw;
    background-image: url(./image/movie2_2.png);
    counter-increment: carousel-cell;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    transition: filter 1s ease-out;
    background-size: cover;
}

.movie_2_img:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
}

.movie_2_img_playButton1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10vh;
}

.movie_2_img_playButton1_Effect {
    stroke-width: 0;
    stroke-dasharray: 1 359;
    stroke-dashoffset: 20;
    transform: rotate(-50deg);
    fill: none;
    stroke: #fff;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.movie_2_img:hover .movie_2_img_playButton1_Effect {
    stroke-width: 1.5px;
    stroke-dasharray: 230;
    stroke-dashoffset: 20;
    transform: rotate(-50deg);
}

.movie_2_img_playButton2_Effect {
    stroke-width: 0;
    fill: transparent;
    stroke: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-57.5%, -52.5%);
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
    stroke-dasharray: 1 65;
}

.movie_2_img:hover .movie_2_img_playButton2_Effect {
    stroke-width: 1px;
    stroke-dasharray: 60;
}

.movie_2_text {
    color: #fff;
    margin: 10vh 10vw 0vh 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie_2_text .movie_2_text1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    font-weight: 200;
    letter-spacing: 0.09em;
    margin-bottom: 1.5vh;
}

.movie_2_text .movie_2_text2 {
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 2vh;
}

.movie_2_text .movie_2_text3 {
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.3em;
    font-weight: 200;
    margin-bottom: 6vh;
}

.movie_2_text .movie_2_text4 {
    font-size: 1.3em;
    font-weight: 200;
    margin: 0 5vw 0 5vw;
    line-height: 150%;
    letter-spacing: 0.09em;
}

.movie_2_text .movie_2_text3 span:nth-child(2) {
    margin: 0 3vw 0 3vw;
}


/*movie_3*/

.movie_3 {
    background-color: #1a1a1a;
    top: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.movie_3_img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64vh;
    width: 60vw;
    margin: 18vh 20vw 0vh 20vw;
    background-image: url(./image/movie3_3.png);
    counter-increment: carousel-cell;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    transition: filter 1s ease-out;
    background-size: cover;
}

.movie_3_img:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
}

.movie_3_img_playButton1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10vh;
}

.movie_3_img_playButton1_Effect {
    stroke-width: 0;
    stroke-dasharray: 1 359;
    stroke-dashoffset: 20;
    transform: rotate(-50deg);
    fill: none;
    stroke: #fff;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.movie_3_img:hover .movie_3_img_playButton1_Effect {
    stroke-width: 1.5px;
    stroke-dasharray: 230;
    stroke-dashoffset: 20;
    transform: rotate(-50deg);
}

.movie_3_img_playButton2_Effect {
    stroke-width: 0;
    fill: transparent;
    stroke: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-57.5%, -52%);
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
    stroke-dasharray: 1 65;
}

.movie_3_img:hover .movie_3_img_playButton2_Effect {
    stroke-width: 1px;
    stroke-dasharray: 60;
}

.movie_3_text {
    color: #fff;
    margin: 10vh 10vw 18vh 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie_3_text .movie_3_text1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    font-weight: 200;
    letter-spacing: 0.09em;
    margin-bottom: 1.5vh;
}

.movie_3_text .movie_3_text2 {
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 2vh;
}

.movie_3_text .movie_3_text3 {
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.3em;
    font-weight: 200;
    margin-bottom: 6vh;
}

.movie_3_text .movie_3_text4 {
    font-size: 1.3em;
    font-weight: 200;
    margin: 0 5vw 0 5vw;
    line-height: 150%;
    letter-spacing: 0.09em;
}

.movie_3_text .movie_3_text3 span:nth-child(2) {
    margin: 0 3vw 0 3vw;
}

.footer {
    background: #111111;
    top: 7vh;
    min-height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    letter-spacing: .1em;
    /* border-top: 1px solid rgb(129, 129, 129); */
}

.footer_contact {
    margin: 0 0 0 7vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer_contact span {
    color: rgb(129, 129, 129);
}

.footer_contact span:nth-child(2) {
    margin-left: 5vw;
}

.footer_icon {
    margin: 0 7vw 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 0;
    font-size: 1.2em;
}

.footer_icon i {
    color: rgb(129, 129, 129);
}

.footer_icon span:first-child {
    margin-right: 3vw;
}

.footer_icon i:hover {
    color: #fff
}

[section-1] {
    opacity: 0;
    position: relative;
    top: 30px;
    transition: .3s ease-in;
}

[section-1].visible {
    opacity: 1;
    top: 0;
}

[section-2] {
    opacity: 0;
    position: relative;
    top: 30px;
    transition: .4s ease-in;
}

[section-2].visible {
    opacity: 1;
    top: 0;
}

[section-3] {
    opacity: 0;
    position: relative;
    top: 30px;
    transition: .5s ease-in;
}

[section-3].visible {
    opacity: 1;
    top: 0;
}

[section-4] {
    opacity: 0;
    position: relative;
    top: 30px;
    transition: .6s ease-in;
}

[section-4].visible {
    opacity: 1;
    top: 0;
}