@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'Noto Sans KR', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section {
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
}

a {
    text-decoration: none;
    color: white;
}

.main {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    position: relative;
    overflow: hidden;
}

.main .main_video {
    position: absolute;
    top: 0;
    left: 0;
}

.main .main_video video {
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -10;
}

.main .main_text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main .main_text h2 {
    color: #fff;
    font-size: 5.5em;
    line-height: 1em;
    font-weight: 700;
    position: relative;
    bottom: 0.5vh;
}

.main .main_navbar {
    position: absolute;
    top: 5vh;
    left: 7vw;
    right: 7vw;
    width: 86vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .main_navbar .main_logo img {
    width: 60px;
    height: 60px;
}

.main .main_navbar ul {
    position: relative;
    display: flex;
    bottom: 0.5vh;
}

.main .main_navbar ul li {
    list-style: none;
    margin: 0 20px;
}

.main .main_navbar ul li a {
    position: relative;
    bottom: 1vh;
    text-decoration: none;
    font-size: 18px;
    padding: 4px 10px;
    font-weight: 400;
    color: #fff;
}

.main .main_navbar ul li a:hover,
.main .main_navbar ul li a:active {
    background: #fff;
    color: #111;
}

.about {
    background: #1a1a1a;
    min-height: 50vh;
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.about .about_content {
    min-width: 75vw;
    padding: 8.5vh 15vw 0vw 10vw;
    color: #fff;
}

.about .about_contentText h2 {
    font-size: 2em;
    font-weight: 500;
}

.about .about_contentText p {
    position: relative;
    top: 3.5vh;
    font-size: 1.9em;
    font-weight: 100;
}

.about .about_contentText span {
    color: #ffffff;
    font-weight: 400;
}

.about .about_content .about_contentButton {
    position: relative;
    top: 10vh;
    width: 140px;
}

.about .about_content .about_contentButton a span {
    font-size: 1.4em;
    font-weight: 100;
    color: #fff;
}

.about .about_content .about_contentButton a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -10px;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.about .about_content .about_contentButton a:hover:after {
    width: 108px;
    left: 0;
}

.film {
    background: #1a1a1a;
    height: 100vh;
    width: 100vh;
    overflow: hidden;
}

.film .film_text {
    position: absolute;
    text-align: center;
    width: 40vw;
    margin: 5vh 30vw 0vh 30vw;
}

.film .film_text h2 {
    color: #fff;
    font-size: 2.5em;
    font-weight: 600;
    letter-spacing: 0.1em;
    font-family: 'Poppins', sans-serif;
}

.film .film_text h2:before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 1.5px;
    bottom: 20px;
    background-color: #fff;
}

.film .film_text p {
    position: relative;
    top: 4vh;
    color: #fff;
    font-size: 1.2em;
    font-weight: 100;
    letter-spacing: 0.08em;
    font-family: 'Noto Sans KR', sans-serif;
}

.film .film_button {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 88vh;
    left: 41.8vw;
    transform: translateY(-50%);
    width: 260px;
}

.film .film_button .film_buttonEffect {
    stroke-dasharray: 26 288;
    stroke-dashoffset: 34;
    stroke-width: 5px;
    fill: transparent;
    stroke: rgb(87, 87, 87);
    border-bottom: 5px solid black;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray .5s;
}

.film .film_button .film_buttonText {
    font-size: 1em;
    font-weight: 100;
    letter-spacing: 0.07em;
    color: #fff;
    top: 43%;
    left: 54%;
    width: 240px;
    position: absolute;
    transform: translate(-50%, -50%);
}

.film .film_button:hover .film_buttonEffect {
    stroke: rgb(155, 155, 155);
    stroke-width: 2px;
    stroke-dashoffset: 34;
    stroke-dasharray: 314 0;
}

.swiper-container {
    width: 100%;
    height: 52vh;
    position: relative;
    top: 26vh;
}

.swiper-slide {
    width: 52vw !important;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev::after {
    position: relative;
    font-family: 'Poppins', sans-serif;
    left: 5vw;
    font-size: 3em;
    color: #fff;
}

.swiper-button-next::after {
    position: relative;
    font-family: 'Poppins', sans-serif;
    right: 5vw;
    font-size: 3em;
    color: #fff;
}


/* .film .film_button
{
  position: absolute;
  top: 87vh;
  left: 42.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.film .film_button a
{ 
  transition: .5s;
  color: #fff;
  font-weight: 300;
  margin: 12px 12px 12px 14px;
  transition: .5s;
  letter-spacing: 0.04em;
}
.film .film_button a span
{
  position: absolute;
  transition: transform .5s;
}
.film .film_button a span:nth-child(1),
.film .film_button a span:nth-child(3)
{
  width: 100%;
  height: 1px;
  background: #fff;
}
.film .film_button a span:nth-child(1)
{
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
}
.film .film_button a:hover span:nth-child(1)
{
  transform: scaleX(1);
  transform-origin: left;
  transition: transfrom .5s;
}
.film .film_button a span:nth-child(3)
{
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
}
.film .film_button a:hover span:nth-child(3)
{
  transform: scaleX(1);
  transform-origin: right;
  transition: transfrom .5s;
}
.film .film_button a span:nth-child(2),
.film .film_button a span:nth-child(4)
{
  width: 1px;
  height: 50%;
  background: #fff;
}
.film .film_button a span:nth-child(2)
{
  top: 22%;
  right: 0;
  transform-origin: bottom;
}
.film .film_button a:hover span:nth-child(2)
{
  transform: scaleY(1);
  transform-origin: top;
  transition: transfrom .5s;
}
.film .film_button a span:nth-child(4)
{
  top: 22%;
  left: 0;
  transform-origin: top;
}
.film .film_button a:hover span:nth-child(4)
{
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transfrom .5s;
} */


/* .about .about_content .about_contentButton .about_contentButton_effect {
  stroke-dasharray: 10 200;
  stroke-dashoffset: -320;
  stroke-width: 4px;
  fill: transparent;
  stroke: #fff;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.about .about_content .about_contentButton:hover .about_contentButton_effect {
  stroke-width: 2px;
  stroke-dashoffset: -200;
  stroke-dasharray: 760;
} */

.photography {
    background: #1a1a1a;
}

.project {
    background: #7a7a7a;
}

.footer {
    background: #9a9a9a;
    min-height: 7vh;
}

[data-trigger] {
    opacity: 0;
    position: relative;
    top: 40px;
    transition: 0.5s ease-in;
}

[data-trigger].visible {
    opacity: 1;
    top: 0;
}